<mat-card>
  <mat-card-content>
    <button (click)="goToTasks()" mat-stroked-button color="warn">Back to Tasks</button>
    <form (submit)="onUpdateTask()">
      <h2 class="form-head">Update Task of ID {{taskID}}</h2>
      <mat-form-field appearance="outline">
        <mat-label>Update</mat-label>
        <textarea matNativeControl
                  placeholder="Task to Update"
                  [(ngModel)] = 'taskTitle'
                  [ngModelOptions]="{standalone: true}"></textarea>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
      >Submit</button>
    </form>
  </mat-card-content>
</mat-card>


