<mat-card>
  <mat-card-content>
    <button (click)="goToTasks()">X</button>
    <form (submit)="onUpdateTask()">
      <h2 class="form-head">Update Task</h2>
      <mat-form-field appearance="outline">
        <mat-label>{{taskTitle}}</mat-label>
        <textarea matNativeControl
                  placeholder="Task to Update"
                  [(ngModel)] = 'titleOfTask'
                  [ngModelOptions]="{standalone: true}"></textarea>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="titleOfTask == ''"

      >Submit</button>
    </form>
  </mat-card-content>
</mat-card>


