<div class="card-ctn">
    <div class="card-el" *ngFor="let task of taskList; let i = index">
        <!-- <div>
            <p [ngStyle]="{'text-decoration' : task.completed ? 'line-through' : 'none'}">{{task.time}}</p>
        </div> -->
        <div>
            <p [ngStyle]="{'text-decoration' : task.completed ? 'line-through' : 'none'}">{{task.taskTitle}}</p>
        </div>
        <div class="worker-btn">
            <button
            [ngClass]="task.completed ? 'f-comp-btn' : 't-comp-btn'"
            (click)="complete(task)">Completed</button>
            <button
            class="del-btn"
            (click)="deleteTask(task)">Delete</button>
            <button
            class="update-btn"
            (click)="openUpdateCard(task)">Update</button>
        </div>
    </div>
</div>
<app-update-task *ngIf="openUpdate" (event)="receiveMsg2($event)" [taskTitle]="taskTitle" [taskID]="taskID"></app-update-task>
