<div class="card-ctn">
    <div class="card-el" *ngFor="let task of taskList">
        <div>
            <p [ngStyle]="{'text-decoration' : task.completed ? 'none' : 'line-through'}">{{task.time}}</p>
        </div>
        <div>
            <p [ngStyle]="{'text-decoration' : task.completed ? 'none' : 'line-through'}">{{task.taskTitle}}</p>
        </div>
        <div class="worker-btn">
            <button class="comp-btn">Completed</button>
            <button class="del-btn">Delete</button>
        </div>
    </div>
</div>
