<mat-card>
  <mat-card-content>
    <form (submit)="loginUser()">
      <h2 class="form-head">Login</h2>
      <mat-hint *ngIf="showLogErr" class="mat-error">{{loginError}}</mat-hint>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text"
               matInput
               [(ngModel)] = 'username'
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password"
               matInput
               [(ngModel)] = 'password'
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
      >Submit</button>
    </form>
  </mat-card-content>
</mat-card>


