button.new-task{
    border-radius: 15px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(238,170,235,1) 0%, rgba(158,21,195,1) 35%);
    color: white;
    padding: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    margin-right: 10px;
}